<%= form_for(@page, html: {class: 'clearfix col-12 mx-auto left-align mb2'}) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :slug %>
  <%= f.text_field :slug, class: 'block col-12 mb2 field' %>
      
  <%= f.label :body %>
  <%= f.text_area :body, class: 'block col-12 mb2 field' %>
  
  <%= f.label :domains %>
  <div id="page_domains">
    <% @page.domains.each do |domain| %>
    <div class="input-group">
      <input name="page[domains][]" class="inline-block col-11 mb2 field" type="text" value="<%= domain %>" >
      <a class="btn btn-outline inline-block mb2 remove-domain">-</a>
    </div>
    <% end %>
  </div>
  <a class="btn btn-outline mb2 add-domain">Add domain</a>
  

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
<script id="tmp-page-domains-input-group-clone" type="x-tmp-text">
<div class="input-group">
  <input name="page[domains][]" class="inline-block col-11 mb2 field" type="text" value="">
  <a class="btn btn-outline inline-block mb2 remove-domain">-</a>
</div>
</script>
