<%= form_for(@page, html: {class: 'clearfix col-12 mx-auto left-align mb2'}) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :slug %>
  <%= f.text_field :slug, class: 'block col-12 mb2 field' %>
      
  <%= f.label :body %>
  <%= f.text_area :body, class: 'block col-12 mb2 field' %>
  
  <%= f.label :domains %>
  <%= f.text_field :domains, name: 'page[domains][]', class: 'block col-12 mb2 field' %>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
