<div class="container p2">

  <h1>Listing Pages</h1>
  <div class="overflow-scroll mb2">
    <table class="table-light">
      <thead>
        <tr>
          <th>Slug</th>
          <th>Body</th>
          <th>Status</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @pages.each do |page| %>
        <tr>
          <td><%= page.slug %></td>
          <td><%= link_to 'Show', page %></td>
          <td><%= link_to 'Edit', edit_page_path(page) %></td>
          <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>

    </table>
  </div>
  <%= link_to 'New Page', new_page_path, class: 'btn btn-primary' %>

</div>
