<% # TODO: add image upload/preview functionalty %>
<%= form_for(@tweet, html: {class: 'clearfix col-12 mx-auto left-align mb2'}) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.label :text %>
    <%= f.text_area :text, class: 'block col-12 mb2 field', maxlength: 140 %>

    <%= f.label :action %>
    <%= f.text_field :action, class: 'block col-12 mb2 field' %>

    <%= f.label :image, "Upload an image" %>
    <%= f.attachment_field :image, class: 'block col-12 mb2 field' %>
    
    <%= f.label :remote_image_url, "Or specify URL of the image" %>
    <%= f.text_field :remote_image_url, class: 'block col-12 mb2 field' %>

    <% if @tweet.persisted? && @tweet.image.present? %>
    <%= image_tag attachment_url(@tweet, :image, :fill, 300, 300, format: "jpg") %>
    <%= f.check_box :remove_image %>
    <%= f.label :remove_image %>
    <% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
