<div class="container p2">

  <% if @tweet.image.present? %>
  <p>
    <%= image_tag attachment_url(@tweet, :image, :fill, 300, 300, format: "jpg") %>
  </p>
  <% end %>

  <p>
    <strong>Text:</strong>
    <%= @tweet.text %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= @tweet.action %>
  </p>
  
  <p>
    <strong>Status:</strong>
    <%= @tweet.status %>
  </p>
  
  <%= link_to 'Edit', edit_tweet_path(@tweet), class: 'btn btn-outline' %>
  <%= link_to 'Back', tweets_path, class: 'btn btn-outline' %>  

  <h3>Broadcast</h3>
  <% # TODO: show how many tweet has been tweeted after %>
  <% # TODO: add a filter/indicator to show how many donors will tweet by donations_greater_than option %>
  <%= form_for :broadcast, url: broadcast_tweet_path(@tweet), method: :post do |f| %>
    <%= f.label 'number of tweets' %>
    <%= f.number_field :limit, class: 'field block col-12 sm-col-1', value: @donors.count, max: @donors.count, min: 1 %> 
    
    <%= f.label 'donors' %>  
    <%= f.select :donor_ids, @donors.by_action(@tweet.action).has_donation_equal_or_greater_than(1).collect{ |u| ["#{u.name} - #{u.donations}", u.id] }, {}, {multiple: true, class: 'field block col-12 sm-col-3'} %>
    
    <%= f.label 'donations equal and greater than' %>
    <%= f.number_field :donations_greater_than, class: 'field block col-12 sm-col-1', value: 1, min: 1 %>

    <%= f.submit "Broadcast!", class: 'btn btn-primary mt2' %>
  <% end %>

  <!-- <%= link_to 'Broadcast', broadcast_tweet_path(@tweet), class: 'btn btn-primary', method: :post, confirm: 'Are you sure?' %> -->
</div>