<header class="white bg-blue bg-blue-grad">
  <% if current_user %>
  <nav class="clearfix white">
    <div class="sm-col">
      <span class="inline-block p2"><%= current_user.payload['info']['name'].titleize %></span>
    </div>
    <div class="sm-col-right">
      <a href="/auth/twitter" class="btn py2" data-method="delete">Logout</a>
    </div>
  </nav>
  <% end %>

  <% if flash[:alert] %><p class="m2 p2 white bg-darken-3 rounded fixed right-0 center z2" data-auto-dismiss="5"><%= flash[:alert] %></p><% end %>
  <% if flash[:notice] %><p class="m2 p2 white bg-darken-3 rounded fixed right-0 center z2" data-auto-dismiss="5"><%= flash[:notice] %></p><% end %>

  <div class="center px2 py4">
    <% if !current_user %>
    <h1 class="h1 h0-responsive caps mt4 mb2 regular">Land a Tweet</h1>
    <p class="h3 col-8 mx-auto">We would ask for tweet donations for a very specific campaign activity, 
      people would lend us a selected number of tweets (they choose how many but default set to two) which we bank, 
      and when we have urgent messages to get out, we are able to cash-in the tweets and broadcast content from hundreds 
      of twitter accounts at once without having to place another request with the supporter.</p>
    <a href="/auth/twitter" class="h4 btn btn-primary py2 px3 mb4">Login with Twitter</a>
    <% else %>
    <h1 class="h1 h0-responsive caps mt4 mb2 regular">Thank you for your help!</h1>
    <div class="col-8 mx-auto">
      <p class="h3">That's great to see you on board, you have currently <span class="bold inline-block px1 white bg-green rounded" data-donations><%= current_user.donations %></span> tweets donated, to change that put desired  number below and click `Donate!` button.</p>
      <%= form_for current_user, method: :put, remote: true, html: {class: 'clearfix'} do |f| %>
        <label class="hide">Tweet count</label>
        <input name="donor[donations]" type="number" min="1" step="1" value="<%= current_user.donations %>" class="col col-6 md-col-9 field rounded-left x-group-item center" placeholder="Tweet count" data-donations>
        <button type="submit" class="col col-6 md-col-3 btn btn-primary bg-green rounded-right">Donate!</button>
      <% end %>
    </div>
    
    <% end %>
  </div>
</header>

<footer class="blue">
  <div class="px2 py3 container center">
    <a href="http://greenpeace.org" class="btn">Greenpeace</a>
    <a href="http://www.greenpeace.org.uk/about/privacy-policy" class="btn">Privacy Policy</a>
    <a href="http://www.greenpeace.org.uk/about/contact" class="btn">Contact</a>
    <p class="h6 mt1">&copy; 2015 Greenpeace, UK</p>
  </div>
</footer>