<header class="header p2">
  <% if current_user %>
  <nav class="nav">
    <div>
      <span class="username"><%= current_user.payload['info']['name'].titleize %></span>
    </div>
    <div>
      <a class="logout" href="/auth/twitter" data-method="delete">Logout</a>
    </div>
  </nav>
  <% end %>

  <div class="content">
    <% if !current_user %>
    <p>We would ask for tweet donations for a very specific campaign activity, 
      people would lend us a selected number of tweets (they choose how many but default set to two) which we bank, 
      and when we have urgent messages to get out, we are able to cash-in the tweets and broadcast content from hundreds 
      of twitter accounts at once without having to place another request with the supporter.</p>
    <a href="/auth/twitter" class="btn-login btn--tw"><i class="fa fa-twitter"></i>
 Login with Twitter</a>
    <% else %>
    <div>
      <p>That's great to see you on board, you have currently <span class="tweet-count" data-donations><%= current_user.donations %></span> tweets donated, to change that put desired  number below and click `Lend` button.</p>
      <%= form_for current_user, url: donation_path(current_user.id), method: :put, remote: true, html: {class: "clearfix donations #{hide_class}" } do |f| %>
        <label class="hide">Tweet count</label>
        <input name="donor[donations]" type="number" min="0" step="1" value="<%= donation_value %>" class="box-input tweet-count-select" placeholder="Tweet count" data-donations>
        <input type="hidden" name="donor[action]" value="<%= action_param %>">
        <button class="btn--tw box-input" type="submit"><i class="fa fa-twitter"></i>
 Lend</button>
      <% end %>
      <button class="<%= hide_class(true) %> btn--tw btn-toggle-donations-form"><i class="fa fa-twitter"></i>
 Change my preferences</button>
    </div>
    
    <% end %>
  </div>
</header>