<!DOCTYPE html>
<html>
<head>
  <title>Lend a Tweet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:alert] %><p class="m2 p2 white bg-darken-3 rounded fixed right-0 center z2" data-auto-dismiss="5"><%= flash[:alert] %></p><% end %>
<% if flash[:notice] %><p class="m2 p2 white bg-darken-3 rounded fixed right-0 center z2" data-auto-dismiss="5"><%= flash[:notice] %></p><% end %>
  
<%= yield %>

</body>
</html>
