<div class="container p2">

  <h1>Listing Donors</h1>
  <div class="overflow-scroll mb2">
    <table class="table-light">
      <thead>
        <tr>
          <th>Name</th>
          <th>Donations</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @donors.each do |donor| %>
        <tr>
          <td><%= donor.name %></td>
          <td><%= donor.donations %></td>
          <td><%= link_to 'Show', donor %></td>
          <td><%= link_to 'Edit', edit_donor_path(donor) %></td>
          <td><%= link_to 'Destroy', donor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td class="border-top">Donors <strong><%= Donor.count %></strong></td>
          <td class="border-top">Donors with available donations <strong><%= Donor.has_donation_equal_or_greater_than(1).count %></strong></td>
          <td class="border-top">Available Donations <strong><%= Donor.available_donations_count %></strong></td>          
          <td class='border-top' colspan="2"></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <%= link_to 'New Donor', new_donor_path, class: 'btn btn-primary' %>

</div>